body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}
.seb-image {
  width: 400px;
  height: 400px;
  margin: 15px;
  border-radius: 15px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}
footer {
  margin: 30px 15px 30px 15px;
}
footer .disclaimer {
  padding: 20px;
  font-size: 20px;
  background-color: rgb(255, 118, 118);
  color: rgb(255, 218, 218);
  border-radius: 15px;
  text-align: center;
  word-wrap: normal;
}
footer .credits {
  text-align: center;
  background-color: rgb(34, 34, 34);
  border-radius: 15px;
  padding: 15px;
}
/* #### header #### */
header > h1 {
  text-align: center;
  margin: 0px;
  margin-bottom: 5px;
}
header > h1:hover {
  text-decoration: underline;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(34, 34, 34);
  width: -webkit-fill-available;
  padding: 10px 0px 10px 0px;
  border-radius: 15px;
  margin: 20px 15px 10px 15px;
}
navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
navigation > button {
  width: 100px;
  padding: 5px 10px 5px 10px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
}
navigation > button:hover {
  border: 2px;
  border-color: white;
  border-style: solid;
  padding: 3px 7px 3px 7px;
}

/* ### content ### */
content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
content > text {
  background-color: rgb(34, 34, 34);
  padding: 0px 20px 0px 20px;
  margin: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  max-height: 400px;
}
.hide-content {
  display: none;
}

/* ### bio ### */
.hide-bio {
  display: none;
}
bio > h1 {
  margin: 10px 10px 30px 10px;
  background-color: black;
  padding: 15px 220px 15px 220px;
  border-radius: 15px;
  text-align: center;
  width: -webkit-fill-available;
}
bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(34, 34, 34);
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
}

bio img {
  width: 200px;
  border-radius: 15px;
  margin: 10px;
}

bio p {
  margin: 10px;
  max-width: 50vw;
  background-color: black;
  padding: 15px;
  border-radius: 15px;
  min-height: 170px;
  overflow: auto;
  max-height: 170px;
}

bike {
  display: flex;
  align-items: center;
}
coffee {
  display: flex;
  align-items: center;
}
paddleboard {
  display: flex;
  align-items: center;
}

/* ### experience ### */
.hide-experience {
  display: none;
}

experience > h1 {
  margin: 10px 10px 30px 10px;
  background-color: black;
  padding: 15px 220px 15px 220px;
  border-radius: 15px;
  text-align: center;
  width: -webkit-fill-available;
}
experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(34, 34, 34);
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
}

experience img {
  width: 200px;
  border-radius: 15px;
  margin: 10px;
}

experience p {
  margin: 10px;
  max-width: 50vw;
  background-color: black;
  padding: 15px;
  border-radius: 15px;
  min-height: 170px;
  overflow: auto;
  max-height: 170px;
}

react {
  display: flex;
  align-items: center;
}
csharp {
  display: flex;
  align-items: center;
}
vanilla {
  display: flex;
  align-items: center;
}

/* ### portfolio ### */
.hide-portfolio {
  display: none;
}

portfolio > h1 {
  margin: 10px 10px 30px 10px;
  background-color: black;
  padding: 15px 220px 15px 220px;
  border-radius: 15px;
  text-align: center;
  width: -webkit-fill-available;
}
portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(34, 34, 34);
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
}

portfolio img {
  width: 200px;
  border-radius: 15px;
  margin: 10px;
}

portfolio p {
  margin: 10px;
  max-width: 50vw;
  background-color: black;
  padding: 15px;
  border-radius: 15px;
  min-height: 170px;
  overflow: auto;
  max-height: 170px;
}

port1 {
  display: flex;
  align-items: center;
}
port2 {
  display: flex;
  align-items: center;
}
port3 {
  display: flex;
  align-items: center;
}
